.DS_Store
.env
.env.*
.venv/
.pytest_cache/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

artifacts/*
!artifacts/.gitkeep

airflow/logs/
airflow/airflow.db

data/raw/*
!data/raw/.gitkeep

mlflow/*
!mlflow/.gitkeep

reports/*
!reports/.gitkeep

tracking/*
!tracking/.gitkeep
